@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

html {
  font-size: 62.5%;
  /* of root font size 16px */ }

body {
  box-sizing: border-box; }

:root {
  --primary-dark-cyan: hsl(180, 29%, 50%);
  --neutral-bg: hsl(180, 52%, 96%);
  --neutral-filter-tablets: hsl(180, 31%, 95%);
  --neutral-dark-grayish-cyan: hsl(180, 8%, 52%);
  --neutral-very-dark-cyan: hsl(180, 14%, 20%); }

body {
  font-family: "League Spartan", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--neutral-bg);
  color: var(--neutral-very-dark-cyan);
  font-size: 1.5rem; }

header {
  height: 15.6rem;
  background-color: var(--primary-dark-cyan);
  background-image: url("../images/bg-header-desktop.svg");
  background-repeat: repeat;
  background-position: center center; }

h1 {
  font-size: 0;
  color: transparent; }

main {
  position: relative;
  max-width: 117rem;
  margin: 7.4rem auto; }

.wrapper-job {
  display: flex;
  position: relative;
  box-sizing: border-box;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  min-height: 15rem;
  background-color: white;
  margin: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 39px -27px rgba(91, 164, 164, 0.7);
  padding: 0 4rem; }
  .wrapper-job.today {
    border-left: 0.5rem solid var(--primary-dark-cyan); }
  .wrapper-job .details {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    flex: 1;
    min-width: 30rem; }
  .wrapper-job .info {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.8rem;
    align-items: center; }
    .wrapper-job .info .company {
      color: var(--primary-dark-cyan); }
    .wrapper-job .info .new, .wrapper-job .info .featured {
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: var(--neutral-filter-tablets);
      padding: 0.7rem 0.8rem 0.5rem;
      border-radius: 1.5rem; }
    .wrapper-job .info .new {
      background-color: var(--primary-dark-cyan); }
    .wrapper-job .info .featured {
      background-color: var(--neutral-very-dark-cyan); }
  .wrapper-job .position:hover {
    cursor: pointer;
    color: var(--primary-dark-cyan); }
  .wrapper-job ul {
    display: flex;
    font-size: 1.7rem;
    color: var(--neutral-dark-grayish-cyan); }
    .wrapper-job ul li:first-child {
      margin-left: 0;
      list-style: none; }
    .wrapper-job ul li.skill {
      cursor: pointer; }
      .wrapper-job ul li.skill:hover {
        background-color: var(--primary-dark-cyan);
        color: var(--neutral-filter-tablets); }
    .wrapper-job ul.skills {
      align-content: center;
      flex-wrap: wrap;
      gap: 1.6rem; }
    .wrapper-job ul.contract {
      display: flex;
      font-size: 1.8rem;
      list-style: disc;
      list-style-position: inside;
      flex-wrap: wrap; }
      .wrapper-job ul.contract li {
        margin: 0 1rem 0 1.3rem; }
        .wrapper-job ul.contract li:first-child {
          margin-left: 0;
          list-style: none; }

.skill {
  font-size: 1.7rem;
  color: var(--primary-dark-cyan);
  background-color: var(--neutral-filter-tablets);
  border-radius: 0.4rem;
  line-height: 2.7rem;
  padding: 0.3rem 1rem 0; }

.filterWrapper {
  display: flex;
  box-sizing: border-box;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  min-height: 6rem;
  background-color: white;
  margin: -11rem 3rem 5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 39px -27px rgba(91, 164, 164, 0.7);
  padding: 0 4rem; }
  .filterWrapper .skills-filtered {
    display: flex;
    gap: 2rem; }
  .filterWrapper .skill {
    padding: 0;
    padding-left: 1rem; }
    .filterWrapper .skill .clear {
      cursor: pointer;
      display: inline-block;
      margin-left: 1rem;
      padding: 0.3rem 1rem 0;
      border-radius: 0 0.4rem 0.4rem 0;
      background-color: var(--primary-dark-cyan);
      color: var(--neutral-filter-tablets); }
      .filterWrapper .skill .clear:hover {
        background-color: var(--neutral-very-dark-cyan); }
  .filterWrapper .clear-all {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--neutral-dark-grayish-cyan); }
    .filterWrapper .clear-all:hover {
      cursor: pointer;
      text-decoration: underline;
      color: var(--primary-dark-cyan); }

@media (max-width: 50rem) {
  .wrapper-job {
    flex-direction: column;
    align-items: start;
    padding: 4rem 2rem 2rem;
    gap: 1.6rem; }
    .wrapper-job .details {
      min-width: auto; }
    .wrapper-job img {
      position: absolute;
      width: 5rem;
      top: -2rem;
      left: 2rem; }
    .wrapper-job .info, .wrapper-job .position {
      font-size: 1.7rem; }
    .wrapper-job .new, .wrapper-job .featured {
      font-size: 1.3rem; }
    .wrapper-job ul.contract {
      gap: 1.3rem;
      font-size: 1.5rem; }
      .wrapper-job ul.contract li {
        margin: 0; }
    .wrapper-job .skills {
      width: 100%;
      border-top: 1px solid #bbb;
      padding-top: 1.6rem; } }
