@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap');

:root {
  --primary-dark-cyan: hsl(180, 29%, 50%);

  --neutral-bg: hsl(180, 52%, 96%);
  --neutral-filter-tablets: hsl(180, 31%, 95%);
  --neutral-dark-grayish-cyan: hsl(180, 8%, 52%);
  --neutral-very-dark-cyan: hsl(180, 14%, 20%);
}

body {
  font-family: "League Spartan", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--neutral-bg);
  color: var(--neutral-very-dark-cyan);
  font-size: 1.5rem;
}