header {
  height: 15.6rem;
  background-color: var(--primary-dark-cyan);
  background-image: url('../images/bg-header-desktop.svg');
  background-repeat: repeat;
  background-position: center center;
}

h1 {
  font-size: 0;
  color: transparent;
}

main {
  position: relative;
  max-width: 117rem;
  margin: 7.4rem auto
}

.wrapper-job {
  display: flex;
  position: relative;
  box-sizing: border-box;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  min-height: 15rem;
  background-color: white;
  margin: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 39px -27px rgba(91, 164, 164, 0.7);
  padding: 0 4rem;

  &.today {
    border-left: 0.5rem solid var(--primary-dark-cyan);
  }

  .details {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    flex: 1;
    min-width: 30rem;
  }

  .info {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 1.8rem;
    align-items: center;

    .company {
      color: var(--primary-dark-cyan);
    }

    .new, .featured {
      font-size: 1.3rem;
      letter-spacing: 0.1rem;
      text-transform: uppercase;
      color: var(--neutral-filter-tablets);
      padding: 0.7rem 0.8rem 0.5rem;
      border-radius: 1.5rem;
    }

    .new {
      background-color: var(--primary-dark-cyan);
    }

    .featured {
      background-color: var(--neutral-very-dark-cyan);
    }
  }

  .position:hover {
    cursor: pointer;
    color: var(--primary-dark-cyan);
  }

  ul {
    display: flex;

    font-size: 1.7rem;
    color: var(--neutral-dark-grayish-cyan);

    li {
      &:first-child {
        margin-left: 0;
        list-style: none;
      }

      &.skill {
        cursor: pointer;

        &:hover {
          background-color: var(--primary-dark-cyan);
          color: var(--neutral-filter-tablets);
        }
      }
    }

    &.skills {
      align-content: center;
      flex-wrap: wrap;
      gap: 1.6rem;
    }

    &.contract {
      display: flex;
      font-size: 1.8rem;
      list-style: disc;
      list-style-position: inside;
      flex-wrap: wrap;

      li {
        margin: 0 1rem 0 1.3rem;

        &:first-child {
          margin-left: 0;
          list-style: none;
        }
      }
    }
  }
}

.skill {
  font-size: 1.7rem;
  color: var(--primary-dark-cyan);
  background-color: var(--neutral-filter-tablets);
  border-radius: 0.4rem;
  line-height: 2.7rem;
  padding: 0.3rem 1rem 0;
}

.filterWrapper {
  display: flex;
  box-sizing: border-box;
  gap: 3rem;
  align-items: center;
  justify-content: space-between;
  min-height: 6rem;
  background-color: white;
  margin: -11rem 3rem 5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 10px 39px -27px rgba(91, 164, 164, 0.7);
  padding: 0 4rem;

  .skills-filtered {
    display: flex;
    gap: 2rem;
  }

  .skill {
    padding: 0;
    padding-left: 1rem;

    .clear {
      cursor: pointer;
      display: inline-block;
      margin-left: 1rem;
      padding: 0.3rem 1rem 0;
      border-radius: 0 0.4rem 0.4rem 0;
      background-color: var(--primary-dark-cyan);
      color: var(--neutral-filter-tablets);

      &:hover {
        background-color: var(--neutral-very-dark-cyan);
      }
    }
  }

  .clear-all {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1.5rem;
    color: var(--neutral-dark-grayish-cyan);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
      color: var(--primary-dark-cyan);
    }
  }
}