*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; //from body element
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  // This defines what 1 rem is
  font-size: 62.5%; // 1rem = 10px,  10/16 = 62.5%
  /* of root font size 16px */
}

body {
  box-sizing: border-box;
}
