@media (max-width: 50rem) {
  .wrapper-job {
    flex-direction: column;
    align-items: start;
    padding: 4rem 2rem 2rem;
    gap: 1.6rem;

    .details {
      min-width: auto;
    }

    img {
      position: absolute;
      width: 5rem;
      top: -2rem;
      left: 2rem;
    }

    .info, .position {
      font-size: 1.7rem;
    }

    .new, .featured {
      font-size: 1.3rem;
    }

    ul.contract {
      gap: 1.3rem;

      font-size: 1.5rem;

      li {
        margin: 0;
      }
    }

    .skills {
      width: 100%;
      border-top: 1px solid #bbb;
      padding-top: 1.6rem;
    }
  }
}